.banner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/img/coverhome.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.banner p {
  font-size: 16px;
  margin-bottom: 20px;
}

.card {
  background-color: black;
  width: 80%;
  padding: 20px;
  opacity: 80%;
  border-radius: 5px;
}

@media only screen and (max-width: 1280px) and (orientation: portrait) {
  .banner {
    background-size: contain;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .banner {
    background-image: url("../assets/img/covercell.jpg");
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  .banner p {
    font-size: 12px;
  }
}

@media only screen and (min-width: 667px) and (max-width: 915px) and (orientation: landscape) {
  .banner {
    background-image: url("../assets/img/coverhome.jpg");
    height: 80vh;
  }
  
  .card {
    background-color: black;
    width: 80%;
    padding: 20px;
    opacity: 80%;
    border-radius: 5px;
  }
}
