.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../assets//img/covertimer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.trackContainer {
  margin-top: 20px;
}

.quoteContainer {
  position: absolute;
  top: 15%;
  left: 5%;
  text-align: left;
  font-style: italic;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttonContainer {
  align-self: center;
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 20px;
  }
  .quoteContainer {
    display: none;
  }
  .buttonContainer {
    margin-top: 5px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    padding: 10px;
  }

  .quoteContainer {
    font-size: 14px;
  }

  .buttonContainer {
    margin-top: 0;
  }
  .trackContainer {
    display: none;
  }
}
