.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    height: 100vh;
  }

  .trackContainer {
    margin-top: 20px;
  }
  
  .quoteContainer {
    position: absolute;
    top: 5%;
    left: 5%;
    text-align: left;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

  .buttonContainer {
    align-self: center;
    margin-top: 20px;
  }


