.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
  }

  .countdownContainer {
    margin-bottom: 20px;
  }

  .trackContainer {
    margin-bottom: 20px;
  }
  
  .quoteContainer {
    margin-bottom: 20px;
  }

  .buttonContainer {
    bottom: 0;
  }
