.timer {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
}

.paragraph {
  font-size: 15px;
}

.letters p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  position: relative;
}

.numbers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.numbers input {
  margin-left: 10px;
}

::placeholder {
  font-size: 18px;
  text-align: center;
}
@media (min-width: 820px) {
  .letters {
    top: 51%;
  }
}
@media only screen and (max-width: 576px) {
  .timer {
    font-size: 20px;
    margin-top: 0;
  }

  .paragraph {
    font-size: 12px;
  }

  .letters {
    font-size: 14px;
    top: 50%;
  }

  .numbers {
    font-size: 12px;
    margin: 0 10px;
  }

  ::placeholder {
    font-size: 14px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 540px) {
  .letters {
    top: 48%;
  }
}
