.timer {
  font-size: 35px;
  font-weight: bold;
  margin-top: 10px;
}

.paragraph {
  font-size: 15px;
}

.letters {
  position: absolute;
  font-size: 18px;
  margin: 5px 15px;
  top: 53%;
}

.numbers {
  margin: 25px 0 0 15px;
  padding: 4px;
  font-size: 18px;
  text-align: center;
  border: 1px solid #000000;
  position: relative;
}

::placeholder {
  font-size: 18px;
  text-align: center;
  color: black;
}

@media only screen and (max-width: 576px) {
  .timer {
    font-size: 20px;
    margin-top: 0;

  }

  .paragraph {
    font-size: 12px;
  }

  .letters {
    font-size: 14px;
    top: 65%;
  }

  .numbers {
    font-size: 12px;
    margin: 0 10px;
  }

  ::placeholder {
    font-size: 14px;
  }
}
