nav {
  width: 80%;
}

nav .brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-top: 30px;
}

img {
  width: 45px;
  height: 45px;
  position: relative;
  left: 0;
}

.brand-text {
  font-weight: bold;
  font-size: 20px;
  position: relative;

}
.hamburger {
  position: absolute;
  top: 0%;
  right: 10%;
  transform: translate(10%, 80%);
  padding: 10px 20px;
  border: none;
  border-radius: 50%;
  background-color: #3a4fa1;
}

.hamburger:hover {
  background-color: #6785fc;
}

.navbar-sidebar {
  position: fixed;
  top: 12%;
  right: -200px;
  width: 200px;
  height: 50vh;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out;
  z-index: 1;
}

.navbar-sidebar.open {
  right: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-item:hover {
  background-color: aqua;
  width: 100%;
}

.nav-item a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar-sidebar {
    top: 10%;
  }
}
@media only screen and (max-width: 576px) {
  .brand-text {
    font-size: 18px;
  }

  .navbar-sidebar {
    top: 16%;
  }

}




