nav {
  width: 80%;
  box-shadow: 1px #333;
}

nav .brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10%;
  margin-top: 30px;
}

img {
  width: 45px;
  height: 45px;
  position: relative;
  left: 0;
}

.brand-text {
  font-weight: bold;
  font-size: 20px;
  position: relative;
}
.hamburger {
  position: absolute;
  top: 0%;
  right: 10%;
  transform: translate(10%, 80%);
  padding: auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #00bfff;
}

.hamburger svg {
  background-color: transparent;
  z-index: 1;
  width: 25px;
  height: 25px;
  text-align: center;
  padding: auto;
}

.navbar-sidebar {
  position: fixed;
  top: 15%;
  right: -250px;
  width: 250px;
  padding: 20px;
  border-radius: 10px;
  overflow-x: hidden;
  transition: right 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.navbar-sidebar.open {
  right: -3%;
}

.navbar-nav {
  list-style: none;
  padding: 0;
}

.nav-item {
  margin-bottom: 10px;
  cursor: pointer;
  border-bottom: 1px solid #333;
  width: 100%;
  text-align: center;
}

.nav-item:hover {
  background-color: aqua;
  width: 100%;
  transition: 0.3s ease;
}

.nav-item a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .navbar-sidebar {
    top: 10%;
  }
}
@media only screen and (max-width: 576px) {
  .brand-text {
    font-size: 18px;
  }

  .navbar-sidebar {
    top: 20%;
  }

  .hamburger {
    top: 0%;
    right: 5%;
    transform: translate(5%, 80%);
  }

  .hamburger svg {
    width: 20px;
    height: 20px;
  }
}
