nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-name {
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.brand {
  display: flex;
  align-items: center;
}

.brand-text {
  font-weight: bold;
  font-size: 18px;
}

.hamburger {
  border: 0;
  padding: 0.5rem;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #283b8b;
  cursor: pointer;
  display: block;
}

.hamburger svg {
  background-color: transparent;
}

.hamburger:hover {
  background-color: #6785fc;
}

.navbar-sidebar {
  position: fixed;
  top: 8.1%;
  right: -200px;
  width: 200px;
  height: 50vh;
  transition: right 0.3s ease-in-out;
  z-index: 1;
}

.navbar-sidebar.open {
  right: 0;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.nav-item {
  margin-bottom: 10px;
}

.nav-item a {
  text-decoration: none;
}






