footer {
  position: absolute;
  bottom: 0;
  clear: both;
  width: 100%;
  text-align: left;
  left: 5%;
}

footer p {
  font-size: 18px;
}

@media only screen and (max-width: 576px) {
  footer {
    width:80%;
  }
  footer p {
    font-size: 12px;
    text-align: center;
  }
}
