/*sounds styling */
.sounds {
  font-size: 25px;
}

/*buttons container styling */
.buttons {
  max-width: 500px;
  margin-top: 10px;
}

/*buttons styling */
.buttons button {
  margin: 5px 5px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

/*buttons disable styling */
.buttons button:disabled:not(.active) {
  background-color: darkgray;
  cursor: not-allowed;
}

/*buttons active styling */
.active {
  background-color: #00bfff;
}

/*media query portrait */
@media (max-width: 768px) and (orientation: portrait) {
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin-right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    text-align: center;
  }

  .buttons button {
    margin: 5px 5px;
  }
}

@media only screen and (max-width: 576px) and (orientation: portrait) {
  .sounds {
    font-size: 18px;
  }

  .buttons {
    display: inline-block;
    max-width: 350px;
    height: auto;
    margin-right: 0;
    margin-top: 0;
  }

  .buttons button {
    margin: 0 5px;
  }
}

@media only screen and (min-width: 1024px) {
  .buttons {
    margin-top: 0px;
  }
}
