/* Stili per la modalità chiara */
body {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Stili per la modalità scura */
  body.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
  }