* {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-y: hidden;
}

header {
  height: 50px;
}

body {
  font-family: Sans-Serif;
  font-size: 20px;
}

#Dark a {
  --text-color: white;
  text-decoration: none;
}

#Light a{
  --text-color: #0d3f67;
  text-decoration: none;
}

#Dark {
  --background-color: #282c34;
  --text-color: white;
}

#Light {
  --background-color: #f2f4f6;
  --text-color: #0d3f67;
}


.react-switch, .Mode {
  float: right;
  transform: translateY(100%);
  margin-right: 3%;
}

.react-switch {
  top: 1%;
}

.App {
  max-width: 2000px;
  height: 100vh;
}

 #Dark .active, #Light .active {
  --background-color: aqua;
}

@media only screen and (max-width: 767px) {
  .Mode {
    font-size: 15px;
  }

  .react-switch {
    transform: translateY(60%);
  }

}