* {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: Sans-Serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

header {
  height: 60px;
}

#Dark a {
  --text-color: #ffffff;
  text-decoration: none;
}

#Dark nav {
  --background-color: #000000;
}
#Light a {
  --text-color: #000000;
  text-decoration: none;
}

#Dark {
  --text-color: #ffffff;
}

#Light {
  --text-color: #bbb6b6;
  filter: brightness(0.9);
}

.react-switch {
  float: right;
  top: 5%;
}

.App {
  max-width: 2000px;
  height: 100vh;
}

#Dark .brand-name {
  background-color: transparent;
}

@media only screen and (max-width: 767px) {
  .Mode {
    font-size: 15px;
  }

  .react-switch {
    transform: translateY(60%);
  }
}
