* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  font-family: Sans-Serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

header {
  height: 80px;
}

#Dark a, .brand-text {
  --text-color: #ffffff;
  text-decoration: none;
}

#Dark header {
  --background-color: #000000;
}
#Light a {
  --text-color: #000000;
  text-decoration: none;
}

#Dark {
  --text-color: #b8b8b8;
  filter: brightness(0.9);
}

#Light {
  --text-color: #ffffff;
}

#Light .Mode, #Light .brand-text {
  --text-color: #000000;
}

.react-switch {
  position: absolute;
  top: -20%;
  right: 5%;
  float: right;
}

.Mode {
  position: relative;
  top: -20%;
  right: 4%;
  float: right;
}
#Dark .Mode {
--text-color: #ffffff;
}

.App {
  max-width: 2000px;
  height: 100vh;
}

#Dark .brand-name {
  background-color: transparent;
  
  
}

@media only screen and (max-width: 767px) {
  .Mode {
    font-size: 15px;
  }

 .react-switch {
  transform: translateX(-80%);
 }
}
